*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/nav/js.bah
/.idea/ux/
/build
-build
/app/build
.DS_Store
/captures
.externalNativeBuild
.cxx
/web-build
.navigation
